@model BookAndRent.Views.ViewModels.UserModels.UserRegistration

@{
    ViewData["Title"] = "Account";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h3>Личная информация</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        <label asp-for="FirstName" class="control-label"></label>
                    </dt>
                    <dd>
                        <label>@Model.FirstName</label>
                    </dd>
                    <dt>
                        <label asp-for="LastName" class="control-label"></label>
                    </dt>
                    <dd>
                        <label>@Model.LastName</label>
                    </dd>
                    <dt>
                        <label asp-for="Email" class="control-label"></label>
                    </dt>
                    <dd>
                        <label>@Model.Email</label>
                    </dd>
                    <dt>
                        <label asp-for="Password" class="control-label"></label>
                    </dt>
                    <dd>
                        <label>@Model.Password</label>
                    </dd>
                </dl>               

            </div>
        </div>
    </div>

   
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>
