@model BookAndRent.Views.ViewModels.ApartmentModels.ApartmentInfo

@{
    ViewData["Title"] = "ApartmentInfo";
}

<style>

    #a {
        border-width: 1px;
        border-color: rgb(190,190,190);
        border-style: solid;
        padding: 0px 20px 20px 20px;
        margin-top: 10px;
        box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    }
</style>


<div id="a">


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h2>@Model.Address</h2>
                <input type="button" value="Редактировать" onclick="location.href='@Url.Action("ApartmentUpdateView", "Apartment", new {id = Model.ApartmentId}, null)'" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @foreach (var picture in Model.Pictures)
                {
                    <img style='width:200px; height:200px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(picture.PictureBytes))" />
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <h3>@Model.Title</h3>
                <h4>@Model.SleepingPlaces  гостя @Model.RoomAmount комнаты</h4>
            </div>

            <div class="form-group">
                <h5>@Model.Description</h5>
            </div>


            <div class="form-group">
                <h3>Удобства</h3>
                @foreach (var item in Model.Facilities)
                {
                    <ul>
                        <li>
                            <h5> @item.Title</h5>
                        </li>
                    </ul>
                }
            </div>

            <div class="form-group">
                <h3>Отзывы</h3>
                @foreach (var item in Model.Comments)
                {
                    <ul>
                        <li>
                            <h5> @item.Content</h5>
                        </li>
                    </ul>
                }
            </div>




        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h3>Запросы на аренду</h3>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Арендатор</h5>
                        </th>
                        <th>
                            <h5>Дата заезда</h5>
                        </th>
                        <th>
                            <h5>Дата отъезда</h5>
                        </th>
                        <th>
                            <h5>Сумма итого</h5>
                        </th>
                        <th>
                            <h5>Дата заключения контракта</h5>
                        </th>
                        <th>
                            <h5>Статус</h5>
                        </th>

                        <th> </th>
                        <th> </th>
                    </tr>
                    @foreach (var item in Model.Contracts)
                    {
                        <tr>
                            <th>
                                @item.Renter.FirstName  @item.Renter.LastName
                            </th>
                            <th typeof="Data">
                                @item.CheckIn
                            </th>
                            <th>
                                @item.CheckOut
                            </th>
                            <th>
                                @item.Amount
                            </th>
                            <th>
                                @item.ContractDate
                            </th>
                            <th>
                                @item.ContractStatus.Status
                            </th>
                            @if (@item.ContractStatus.Status == "New")
                            {
                                <th>
                                    <input type="button" onclick="location.href='@Url.Action("ContractStatus", "Apartment", new { id = item.Id, status = "Approved" }, null)'" value="Одобрить" />
                                </th>
                                <th>
                                    <input type="button" onclick="location.href='@Url.Action("ContractStatus", "Apartment", new { id = item.Id, status = "Rejected" }, null)'"  value="Отклонить" />
                                </th>
                            }

                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>